.about-container {
  height: auto; /* This will make the container take up the full viewport height */
  display: flex; /* Use flex display to allow children to flex */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
}


.about-row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.text-column, .image-column {
  flex: 1; /* Take up equal space when side by side */
  padding: 15px;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border-radius: 1%;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
}

/* Media Query for smaller screens like mobile devices */
@media (max-width: 768px) {
  .text-column, .image-column {
      flex-basis: 100%; /* Each column takes full width on small screens */
  }

  .image-column {
      order: 1; /* Image goes below text on small screens */
  }

  .about-image {
      max-height: 200px; /* Adjust the height so it doesn't cover the text */
      object-fit: cover; /* Ensure the image covers the area without stretching */
  }
}
